<h1>We have all kinds of decks laying around.</h1>
<h2>Come down to our office and you can see them. We don't trust the internet!</h2>

<p>Currently we have <%= @count.to_s %> skateboards in stock.</p>

<%= link_to 'View all skateboards', skateboards_path %>
