<h1>This is the number of skateboards we currently have in inventory</h1>

<%= @count.to_s %>

<p/>

<%= link_to("View Inventory", skateboards_path) %>

<p/>
<%= link_to("Create a skateboard", new_skateboard_path) %>
